@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Regular.ttf) format("truetype");
	font-weight: 400;
}

@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Bold.ttf) format("truetype");
	font-weight: 700;
}

@font-face {
    font-family: 'Raleway';
    src: url(../fonts/Raleway-Regular.ttf) format("truetype");
	font-weight: 400;
}

@font-face {
    font-family: 'Raleway';
    src: url(../fonts/Raleway-Bold.ttf) format("truetype");
	font-weight: 700;
}



// Variables
$white: hsl(0, 0%, 100%);
$primary: hsl(231, 100%, 60%);
$primary-dark: hsl(230, 100%, 38%);
$gray-9: hsl(0, 0%, 13%);
$gray-8: hsl(0, 0%, 26%);
$gray-7: hsl(0, 0%, 38%);
$gray-6: hsl(0, 0%, 46%);
$gray-5: hsl(0, 0%, 62%);
$gray-4: hsl(0, 0%, 74%);
$gray-3: hsl(0, 0%, 88%);
$gray-2: hsl(0, 0%, 93%);
$gray-1: hsl(0, 0%, 96%);



// Main styles
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
}

html, body {
	height: 100%;
}

body {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	font-family: 'Roboto', sans-serif;
	background: linear-gradient(305.42deg, hsl(284, 59%, 64%) 0%, hsl(195, 86%, 64%) 100%);
	background-color: hsl(284, 59%, 64%);
}



.user-access {
	display: grid;
	grid-template-columns: 350px;
	grid-template-rows: repeat(2, min-content);
	overflow: hidden;
	background-color: hsl(0, 0%, 100%);
	border-radius: 6px;
	box-shadow: 0 20px 40px hsla(0, 0%, 0%, .2);
	animation: appear 1s ease-in 0s;

	&__sign-up-view, &__log-in-view {
		padding: 20px;
		grid-area: 2 / 1 / 2 / 1;
	}

	&--active {
		display: block;
	}
	
	&--inactive {
		display: none;
	}
}



.tabs {
	grid-area: 1 / 1 / 2 / 1;

	&__list {
		list-style-type: none;
		display: flex;
		flex-direction: row;
	}

	&__item {
		flex-grow: 1;
	}
}



.tab {
	width: 100%;
	padding: 0.8rem 0;
	font-family: 'Roboto', sans-serif;
	font-size: 1.2rem;
	font-weight: 700;
	border-radius: initial;
	text-transform: uppercase;
	transition: all 120ms ease-in-out;

	&--active {
		background-color: $white;
		color: $gray-9;
		box-shadow: none;
		cursor: default;
	}

	&--inactive {
		background-color: $gray-2;
		color: $gray-8;
		cursor: pointer;

		&:hover, &:focus {
			background-color: $primary;
			color: $white;
			box-shadow: none;
		}
	}

	&--lftshadow {
		box-shadow: inset 1px 0 3px $gray-4;
	}

	&--rgtshadow {
		box-shadow: inset -1px 0 3px $gray-4;
	}
}



.form {
	margin-bottom: 1rem;
	text-align: center;

	&__title {
		font-family: 'Raleway', sans-serif;
		color: $gray-9;
		font-size: 2rem;
		font-weight: 700;
		text-align: center;
		margin-bottom: 1rem;
		line-height: 1.1;
	}

	&__group:not(:last-of-type) {
		margin-bottom: 0.8rem;
	}

	&__label {
		display: block;
		text-align: left;
		margin: 0 0 0.3rem 3px;
		font-size: 0.75rem;
		color: $gray-9;
	}

	&__input {
		height: 40px;
		width: 100%;
		padding-left: 0.5rem;
		border: 1px solid $gray-4;
		border-radius: 3px;
		background-color: $white;
		box-shadow: inset 0 1px 5px $gray-4;
		transition: all 120ms ease-in-out;

		&:focus {
			border: 1px solid $primary;
			box-shadow: inset 0 2px 6px $gray-4;
		}
	}
}



.text {
	text-align: center;
	padding-top: 10px;
	margin-bottom: 20px;

	&__body {
		margin-bottom: 20px;
		font-size: 1rem;
		line-height: 1.5;
	}
}



.inline__link {
	transition: all 120ms ease-in-out;

	&:hover, &:focus {
		background-color: $primary;
		color: $white;
	}
}



.footer {
	border-top: 1px solid $gray-4;
	padding: 1rem 0 0 0;

	.btn:first-child {
		margin-bottom: 0.5rem;
	}

	&--social {
		display: flex;
		flex-flow: column;
	}
}


.btn {
	font-family: 'Roboto', sans-serif;
	font-size: 1rem;
	padding: 0.8rem 2rem;
	border-radius: 3px;
	cursor: pointer;
	transition: all 120ms ease-in-out;

	&:hover, &:focus {
		box-shadow: 0px 3px 5px $gray-4;
	}

	&--primary {
		background-color: $primary;
		color: $white;
		text-transform: uppercase;
		font-weight: 700;

		&:active {
			background-color: $primary-dark;
			//box-shadow: inset 0 2px 5px $primary-dark;
		}
	}

	&--secondary {
		background-color: $white;
		border: 1px solid $gray-6;
		color: $gray-6;

		&:active {
			box-shadow: none;
			color: #4D4D4D;
			box-shadow: inset 0 2px 5px $gray-4;
		}
	}

	&--icon {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;

		.icon {
			width: 1em;
			height: 1em;
			margin-right: 0.5em;
		};
	}

	&__text {
		font-size: 0.8rem;
	}
}




@keyframes appear {
  1% {
    transform: translateY(30px);
    opacity: 0;
  }
  25% {
    transform: translateY(-15px);
  }

  65% {
    transform: translateY(10px);
    opacity: 1;
  }
  80% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}