@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: all 300ms ease-in-out;
}

html, body {
	height: 100%;
	width: 100%;
}

body {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
    font-family: 'Inter', sans-serif;
    background: linear-gradient(305.42deg, #BB6BD9 0%, rgba(86, 204, 242, 0.5) 100%);
	background-color: #BB6BD9;
}

.card {
    width: 600px;
    background-color: #ffffff;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 20px 40px hsla(0, 0, 0%, 0.2);

    &__header {
        display: flex;
        flex-direction: row;
        cursor: pointer;
        
        &:hover {
            background-color: lightblue;
        }
    }

    &__title {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 1rem;
        font-weight: 400;
    }

    &__button--expand {
        width: 100%;
        padding: 1rem 0 1rem 1rem;
        justify-content: space-between;
        transform: rotate(0);
    }
    
    &__image {
        width: 64px;
    }

    &__icon {
        width: 16px;
        height: 16px;
        margin-right: 0.5rem;

        &--chevron {
            width: 24px;
            height: 24px;
        }

        &--check {
            fill: green;
        }
    }

    &__content {
        transition: height 450ms cubic-bezier(.65,.05,.36,1);
    }

    &__list {
        list-style-type: none;
    }

    &__item {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
        border-top: 1px solid gray;
    }

    &__label {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    &__item:not(:first-child) {
        border-top: 1px solid hsl(0, 0%, 75%);
    }
}

.card__content.collapsed {
    display: none;
}

.card__content.collapsing {
    height: 0;
}

.card__content.open {
    display: block;
}

.card__button--expanded {
    & svg {
        transform: rotate(180deg);
    }
}

h2 button {
    all: inherit;
}